.margin-bottom-section {
  margin-bottom: 5rem;
}

.margin-bt-sm {
  margin-bottom: 1.5rem;
}

.margin-bt-md {
  margin-bottom: 2.5rem;
}

.margin-bt-bg {
  margin-bottom: 3.5rem;
}

.margin-rt-sm {
  margin-right: 1.5rem;
}

.text-center {
  text-align: center;
}
