.section-introduction {
  background-color: $text-color;
  padding: 5rem 0;
  width: 100%;

  .container {
    padding-top: 0;
  }

  .founder-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
    transform: translateY(-50%);
    .gradient-borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: red;
      transform: scaleX(1.005) scaleY(1.01);
      background-image: linear-gradient(
        to bottom,
        rgb(221, 219, 217),
        rgba(238, 203, 112, 1)
      );
      border-radius: 10px;
    }
  }

  .founder-box {
    color: #fff;

    background-color: $text-color;

    border-radius: 10px;
    grid-template-columns: 30fr 70fr;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    position: relative;

    .founder__imgbox {
      width: 100%;
      height: 30rem;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .founder__textbox {
      margin-top: 2rem;
    }

    .heading-spaced {
      font-size: 1.7rem;
      color: #d2cdcd;
    }
    .heading-secondary {
      font-size: 4rem;
      line-height: 1;
    }

    .icon-box {
      padding: 2rem;
      background-color: $main-color;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: fit-content;
      border-radius: 500%;
    }
  }

  //first about grid
  .about {
    margin-bottom: 15rem;
    .heading-secondary {
      font-size: 4rem;
      color: #fff;
    }
    &__textbox {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      align-items: flex-start;
      margin-top: 4rem;

      .text-paragraph {
        max-width: 70%;
        color: #a08b90;
      }

      .btn {
        // justify-self: flex-end;
        // align-self: flex-end;
        // margin-top: auto;
        // margin-bottom: 3rem;
      }
    }

    &__imgbox {
      display: flex;
      align-items: center;
      justify-content: center;

      .gallery_img {
        width: 50%;
        height: 35rem;
      }
    }
  }

  //second about grid

  .about:nth-child(2) {
    // background-color: red;
    .about__textbox {
      // background-color: red;
      padding-left: 25%;
    }

    .about__sectors {
      .sectors {
        gap: 20px;
        .sector {
          max-width: 100%;
          height: 20rem;
          border-radius: 10px;

          .status-box {
            align-self: flex-end;
            height: 6rem;
            width: 100%;

            position: relative;
            // border-top: 1px solid black;

            // .overlay {
            //   width: 100%;
            //   height: 100%;
            //   background-color: rgba(255, 255, 255, 0.9);
            //   filter: blur(3px);
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   z-index: 0;
            // }
            .status-text {
              display: flex;
              // align-items: center;
              flex-direction: column;
              justify-content: center;
              // padding: 2rem;
              padding-left: 2rem;
              background-color: rgba(255, 35, 89, 0.3);
              height: 100%;
              .heading-secondary {
                font-size: $default-size-bigger;
              }
              span {
                color: #fff;
              }
            }
          }
          display: flex;
          &--design {
            background-color: red;
            background-image: url("../img/design.jpg");
            background-size: cover;
            background-position: center;
          }
          &--development {
            background-image: url("../img/dev.jpg");
            background-size: cover;
            background-position: top;
            grid-row: 1/-3;
            height: 100%;
            max-width: 100%;
            justify-self: end;
          }
          &--marketing {
            background-image: url("../img/mark.jpg");
            background-size: cover;
            background-position: top;
          }
        }
      }
    }
  }
}

.section-gallery {
  padding-bottom: 30rem;
  .container {
    max-width: 65%;
    max-height: 147rem;
    overflow-y: hidden;
    margin-bottom: 2rem;
    transition: 2s all linear;
  }
  .text-center {
    .heading-secondary {
      font-size: 4rem;
      color: $text-color;
    }
  }

  .gallery {
    gap: 20px;
    .card {
      width: 100%;
      box-shadow: none;
    }
  }
}

.section-testimonial {
  // height: 3000px;
  background-color: #fff;
  padding-bottom: 20rem;
  .container {
    max-width: 65%;
    padding-top: 0;
  }
  .testimonial {
    // justify-content: center;
    grid-template-columns: 70fr 30fr;
    background-color: #fff;
    border-radius: 10px;
    padding: 6rem;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
    .testimonial__textbox {
      .testimonial-paragraph {
        font-size: $default-size-bigger;
        color: rgb(55, 54, 54);
        font-weight: 600;
        font-style: italic;
        max-width: 90%;
      }

      .heading-spaced {
        font-size: $default-size;
        margin-bottom: 0.5rem;
      }

      .testimonial-author-box {
        i {
          color: #f5b22c;
        }
      }
    }
    &__imgbox {
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 25rem;
        max-width: 90%;
        border-radius: 10px;
      }
    }
  }

  .become-instructor {
    // margin-bottom: 50px;
    gap: 5rem;
    margin-top: 5rem;
    // padding-bottom: 10rem;
    .become-instructor__textbox {
      .heading-secondary {
        font-size: 4rem;
        color: $text-color;
      }
    }
    .become-instructor__imgbox {
      // overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      .circle {
        top: -9rem;
        left: 2rem;
        background-color: none;
        border: 3px solid #2b7763;
        border-radius: 500%;
        width: 50%;
        height: 100%;
        content: "";
        position: absolute;
      }
      img {
        height: 100%;
        width: 75%;
        border: 3px solid #2b7763;
        border-radius: 10px;
        position: relative;
        // z-index: 1;
      }
    }
  }
}
